
#setoresEvento, #sobre{
    margin-top: 50px;
    text-align: center;
}

.tabela-setores {
  width: 100%;
  max-width: 600px; 
  margin: 20px auto; 
  border-collapse: collapse; 
}

.tabela-setores th, .tabela-setores td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.tabela-setores th {
  background-color: #f2f2f2;
}

.linha-setor:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}